{% extends "base_generic.html" %}

{% block content %}
  <h1>Author: {{ author }}</h1>
  {% if author.date_of_birth %}
  <h>Date of birth: {{ author.date_of_birth }}</h>
  {% endif %}
  {% if author.date_of_death%}
  <br>
  <h>Date of death: {{ author.date_of_death }}</h>
  {% endif %}


  <div style="margin-left:20px;margin-top:20px">
    <h4>Books</h4>
    <!--возвращение связанных записей с book через set-->
    <!--поскольку author ничего не знает про  book, поэтому создается обратная связь -->
    <!-- all получить все -->
    {% for book in author.book_set.all %}
    <hr>
    <a href="{{ book.get_absolute_url }}" style="font-size: 30px;" >{{ book.title }}</a>
    <br>
    {{ book.summary }}
    {% endfor %}
  </div>
{% endblock %}